.App {
  width: 100vw;
}

main {
  padding: 36px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  background: linear-gradient(90deg, #224e80 1.18%, #266ed3 100%);
  color: white;
  padding: 20px;
}

.header-image {
  height: 100%;
  margin-right: 6px;
  max-width: 40px;
}

.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header-project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px/1fr 1fr;
  gap: 17px;
}

.form-button {
  grid-column: 1/-1;
  background: linear-gradient(90deg, #224e80 1.18%, #266ed3 100%);
  color: white;
}

.form-input {
  text-indent: 5px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.meme {
  position: relative;
  margin: 20px auto;
}

.meme-image {
  max-width: 100%;
}

.meme-text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  -webkit-text-stroke: 2px black;
  width: 80%;
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  line-height: 39px;
  position: absolute;
  margin: 16px 0;
  padding: 0 6px;
  left: 50%;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: translateX(-50%);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
